<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Case List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-row>

    <ion-col size="9">


        <ion-searchbar [(ngModel)]="searchQuery" (keyup.enter)="search($event)" #searchBar value='Khemraj'></ion-searchbar>



    </ion-col>




    <ion-col size="3">
      <ion-label>Search By</ion-label>

      <ion-select value="lastname" okText="Okay" cancelText="Dismiss" #filterChoice
        [(ngModel)]="choice">
        <ion-select-option value="keyword">Keyword</ion-select-option>
        <ion-select-option value="id">ID</ion-select-option>
        <ion-select-option value="lastname">Lastname</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <div padding>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of caseList" [routerDirection]="'root'" [routerLink]="'/case/' + item.GetCase">
      {{item.Subject}} by {{item.Author}}<br>
      <div class="item-note" slot="end">
        {{item.GetCase}}
        <br>
        {{item.Date}}

      </div>

    </ion-item>
  </ion-list>
</ion-content>