<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Case List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-row>

    <ion-col size="9">

      <div *ngIf="choice != 'date'">
        <ion-searchbar [(ngModel)]="searchQuery" name="searchQuery" (keyup.enter)="search($event)" #searchBar>
        </ion-searchbar>

      </div>
      <div *ngIf="choice == 'date'">
        <ion-item>
          <ion-label position="stacked">From Date</ion-label>
          <ion-searchbar [(ngModel)]="p_from_date" name="from_data">
          </ion-searchbar>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">To Date</ion-label>
          <ion-searchbar [(ngModel)]="p_to_date" name="to_date">
          </ion-searchbar>
        </ion-item>
        <ion-select [(ngModel)]="p_increment_date" value="ALL_DAY">
          <ion-select-option value="ALL_DAY">Get cases of every weekday
          </ion-select-option>
          <ion-select-option value="MONDAY">Get cases of Monday only
          </ion-select-option>
          <ion-select-option value="TUESDAY">Get cases of Tuesday only
          </ion-select-option>
          <ion-select-option value="WEDNESDAY">Get cases of Wednesday only
          </ion-select-option>
          <ion-select-option value="THURSDAY">Get cases of Thursday only
          </ion-select-option>
          <ion-select-option value="FRIDAY">Get cases of Friday only
          </ion-select-option>
          <ion-select-option value="SATURDAY">Get cases of Saturday only
          </ion-select-option>
          <ion-select-option value="SUNDAY">Get cases of Sunday only
          </ion-select-option>
        </ion-select>
        <ion-button size="small" fill="outline" color="primary" (click)="submitDate()">Submit</ion-button>
      </div>
      <h2 class="alert alert-danger" *ngIf="error" role="alert">{{error}}</h2>
      <h2 class="alert alert-info" *ngIf="info" role="alert">{{info}}</h2>

    </ion-col>




    <ion-col size="3">
      <ion-label>Search By</ion-label>

      <ion-select value="lastname" okText="Okay" cancelText="Dismiss" #filterChoice [(ngModel)]="choice">
        <ion-select-option value="keyword">Keyword</ion-select-option>
        <ion-select-option value="id">ID</ion-select-option>
        <ion-select-option value="lastname">Lastname</ion-select-option>
        <ion-select-option value="date">Date</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <div padding>
  </div>
  <ion-item>

  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of caseList" [routerDirection]="'root'" [routerLink]="'/case/' + item.GetCase">
      {{item.Subject}} by {{item.Author}}<br>
      <div class="item-note" slot="end">
        {{item.GetCase}}
        <br>
        {{item.Date}}

      </div>

    </ion-item>
  </ion-list>
</ion-content>