<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ECommunity Knowledge Base</ion-card-subtitle>
      <ion-card-title>Welcome to Bonnet Mobile</ion-card-title>
    </ion-card-header>

    <ion-card-content>


      Swipe in from the left to view cases, upload your own,
      view all the users in this system, and register for Bonnet!

      <div padding>

      </div>
      <ion-row>
        <ion-col>

          <div class="ion-text-center">
            <ion-button (click)="toRegister()" shape="round">Register</ion-button>
            <ion-button (click)="toView()" shape="round">View Cases</ion-button>
            <ion-button (click)="toUpload()" shape="round">Upload Case</ion-button>
            <ion-button (click)="toUsers()" shape="round">All Users</ion-button>
            <ion-button (click)="toAbout()" shape="round">About</ion-button>
          </div>
        </ion-col>
      </ion-row>



    </ion-card-content>
  </ion-card>




  <!--
     <ion-text color="secondary">
    <h1>Welcome to Bonnet Mobile</h1>
  </ion-text>

  
  <ion-button color="primary" (click)="sub()">Login</ion-button>

  
  <ion-text color="primary">
      <h3>Swipe in from the left to view student cases and upload your own</h3>
    </ion-text>

  -->




</ion-content>